<app-new-service-card headline="Service Address">
  <form class="flex flex-col gap-y-5" [formGroup]="form">
    <div class="input">
      <label for="country">Country</label>
      <select
        id="country"
        formControlName="country"
        (change)="setCountry($event)"
      >
        <option value="" disabled>Choose a country</option>
        @for (country of countries(); track $index) {
          <option [value]="country.name">{{ country.name }}</option>
        }
      </select>
    </div>
    <div class="input">
      <label for="state">State</label>
      <select id="state" formControlName="state" (change)="setState($event)">
        <option value="" disabled>Choose a state</option>
        @for (state of states(); track $index) {
          <option [value]="state.name">{{ state.name }}</option>
        }
      </select>
    </div>
    <div class="input">
      <label for="cities">City</label>
      <select id="cities" formControlName="city">
        <option value="" disabled>Choose a city</option>
        @for (city of cities(); track $index) {
          <option [value]="city.name">{{ city.name }}</option>
        }
      </select>
    </div>
    <app-input
      name="street"
      label="Street"
      [control]="form.controls.street"
      placeholder="e.g. Street 123A - #45 South"
      autocomplete="street-address"
    />
    <app-input
      name="zipCode"
      label="Zip Code"
      [control]="form.controls.zipCode"
      placeholder="e.g. 1234"
      autocomplete="postal-code"
    />
  </form>
</app-new-service-card>
