<article class="w-full p-5 bg-white rounded-2xl shadow-md flex flex-col gap-5">
  <header class="flex flex-col gap-2.5">
    <h3 class="text-xl text-center font-semibold">Título del Servicio</h3>
    <img
      src="https://lh4.googleusercontent.com/proxy/EWm9FVpPqF7N5rcraSRF-UMDuwBzfkA2tYNH73WwfdaqqrhD7V-TQL22-XP7fOgbjSp4X836b8_TVTYw1JN7bSJuUHbgtMURdiA2n-lyFKYnnpRzFzCJ72kCEw"
      alt="service photo"
    />
  </header>
  <p class="text-sm text-pretty">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur neque quo
    perspiciatis, repellendus enim consectetur molestias dignissimos error illo
    dolorem.
  </p>
  <footer>
    <app-button>Book Now</app-button>
  </footer>
</article>
