<main class="grid place-items-center h-dvh w-full max-w-2xl mx-auto px-3.5">
  <header>
    <h1
      class="font-extrabold text-5xl sm:text-6xl text-primary-600 hover:text-primary-500 duration-300"
    >
      <a routerLink="/">BookNow</a>
    </h1>
  </header>
  <div class="bg-primary-600 text-white px-5 py-8 rounded-xl text-center">
    <section class="flex flex-col gap-5">
      <h2 class="text-xl sm:text-2xl text-pretty flex flex-col gap-y-1.5">
        Thank you,
        <span class="font-extrabold text-2xl sm:text-3xl">
          {{ user?.name }} {{ user?.lastName }}
        </span>
      </h2>
      <p class="text-base sm:text-lg text-pretty">
        We send you a message to
        <span class="font-semibold">{{ user?.email }}</span
        >, please check it to confirm your account.
      </p>
    </section>
  </div>
  <app-button route="/" text="Go to home" />
</main>
