<div class="flex flex-col gap-y-8">
  <app-manager-search-input
    placeholder="Search a service..."
    [showReturn]="false"
  />
  <app-manager-header
    headline="My Services"
    description="Manage your professional services"
  >
    <app-button route="./new-service" text="Add New Service" />
  </app-manager-header>
  <section>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-7">
      @for (item of [1, 2, 3, 4, 5]; track $index) {
        <li>
          <app-manager-service-card />
        </li>
      }
    </ul>
  </section>
  <app-manager-service-pagination />
</div>
