<aside
  class="fixed w-full min-h-[calc(100dvh_-_4rem)] z-40 duration-300"
  [ngClass]="{ 'opacity-0 invisible': !show()() }"
>
  <nav
    class="fixed top-16 left-0 bottom-0 h-full w-4/5 md:w-72 bg-gray-50 duration-200 z-40 p-5"
    [ngClass]="{ '-translate-x-full': !show()() }"
  >
    <div class="flex flex-col gap-5">
      <ul class="flex flex-col gap-1.5">
        <app-side-navbar-item headline="Appointments" />
        <app-side-navbar-item headline="Availabilities" />
        <app-side-navbar-item headline="Services" />
      </ul>
      <app-divisor />
      <ul class="flex flex-col gap-1.5">
        <app-side-navbar-item headline="Profile" />
        <app-side-navbar-item headline="Security" />
      </ul>
    </div>
  </nav>
  <div
    class="fixed w-full h-dvh top-0 bg-black/10 z-30"
    (click)="show().set(false)"
  ></div>
</aside>
