<div
  [ngClass]="{
    'max-sm:flex max-sm:items-center max-sm:gap-x-2.5': searching()()
  }"
>
  @if (searching()()) {
  <button
    class="group bg-primary-50 border-2 border-primary-700 rounded-2xl p-1 cursor-pointer hover:bg-primary-100 duration-200"
    (click)="searching().set(false)"
  >
    <svg
      left-arrow-icon
      class="size-6 stroke-2 stroke-primary-600 group-hover:scale-105 duration-200"
    ></svg>
  </button>
  }
  <form
    class="max-w-sm md:max-w-lg lg:max-w-xl grid grid-cols-1 sm:grid-cols-7 items-center place-self-center w-full"
    [ngClass]="{ 'grid-cols-7 ': searching()() }"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="search"
      placeholder="Search the service that you want..."
      class="col-span-6 placeholder-gray-500 py-1 px-2.5 md:py-2 bg-gray-50 border-y-2 border-l-2 rounded-s-2xl border-gray-200 h-full text-sm sm:text-base"
      [ngClass]="{ 'max-sm:hidden': !searching()() }"
      formControlName="input"
    />
    <button
      type="submit"
      class="col-span-1 place-self-center cursor-pointer duration-300 w-full flex items-center justify-center hover:shadow-md p-1 md:py-2 bg-gray-50 border-2 border-gray-200 h-full sm:rounded-e-2xl"
      [ngClass]="searching()() ? 'rounded-e-2xl' : 'max-sm:rounded-2xl'"
    >
      <svg search-icon class="stroke-2 stroke-gray-500 size-6"></svg>
    </button>
  </form>
</div>
