<section class="flex flex-col gap-y-3 border-l-5 border-gray-300 pl-3.5 pr-1.5">
  <app-subtitle headline="About the Service" />
  <p class="text-base text-pretty sm:text-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, distinctio non
    neque dolores minus dolorum in soluta modi earum quidem iure facilis magni
    sed a illo incidunt! Maxime quisquam iure modi voluptatem! Corporis illum
    voluptatem, doloribus voluptatibus eius illo. Ducimus ratione beatae culpa
    dicta, vel aspernatur saepe repellat tenetur doloremque totam quos nam
    facere incidunt sapiente necessitatibus minus hic. Corporis cum sequi
    adipisci, recusandae quibusdam ex molestias in impedit deserunt possimus
    officiis numquam odio aliquam autem atque ad doloribus dolore itaque!
    Molestiae veniam nostrum perspiciatis beatae maiores exercitationem placeat
    repudiandae fugiat id porro ut optio quo amet nam ipsum, ullam, nemo quos
    modi quasi ipsam. Ipsum rem maxime, accusamus deserunt repellat nostrum
    debitis mollitia, architecto a pariatur aliquam praesentium perferendis!
    Laudantium necessitatibus repellat quam quis ullam nihil perferendis neque
    excepturi fugiat! Corrupti, est tenetur praesentium beatae porro magnam
    architecto inventore ullam, quos, minima vitae expedita fugiat nisi alias
    hic quasi amet! Doloremque quas quae beatae a voluptas iste debitis
    asperiores repellat provident, dignissimos quam totam quisquam minus aliquid
    fuga recusandae vero aut ut odit! Neque repellendus quisquam voluptatem
    animi, impedit ut rem, eos doloremque tempore cum libero. Reprehenderit,
    accusantium doloremque, nulla nam pariatur molestiae magnam corrupti quidem
    voluptas dignissimos quod, tenetur quam nesciunt impedit animi aperiam hic
    doloribus quaerat soluta. Aut quasi minima suscipit hic corporis voluptas
    nulla ratione dolores qui culpa quas nemo quibusdam, libero quos odit nam.
    Nam sequi laboriosam facilis voluptate excepturi culpa debitis corporis sed
    rerum.
  </p>
</section>
