<app-container>
  <nav class="mb-5">
    <ul class="flex items-center justify-start gap-x-4 sm:gap-x-6 md:gap-x-8">
      @for (route of routes(); track $index; let i = $index) {
      <li>
        <a
          [routerLink]="route.route"
          #rla="routerLinkActive"
          routerLinkActive
          class="font-semibold flex items-center gap-x-4 sm:gap-x-6 md:gap-x-8"
          [ngClass]="{
          hidden: i >= 1 && !rla.isActive,
          'text-blue-500 hover:text-blue-400 duration-150': !rla.isActive,
        }"
        >
          @if (i >= 1 && i < routes().length) {
          <span class="font-semibold text-gray-400 cursor-default"> / </span>
          }
          {{ route.displayName }}
        </a>
      </li>
      }
    </ul>
  </nav>
</app-container>
