<app-card>
  <div
    class="flex max-sm:flex-col gap-y-3.5 sm:flex-row-reverse sm:items-center sm:justify-between"
  >
    <div class="flex items-center justify-center gap-x-2.5">
      <app-manager-service-pagination-button>
        <
      </app-manager-service-pagination-button>
      <app-manager-service-pagination-button>
        >
      </app-manager-service-pagination-button>
    </div>
    <p class="text-center text-xs sm:text-sm font-medium text-gray-500">
      Showing X of Y services
    </p>
  </div>
</app-card>
