<div class="flex flex-col gap-y-8">
  <app-manager-header
    headline="New Service"
    description="Publish a new offering for your marketplace profile"
  >
  </app-manager-header>
  <div class="grid gap-5 md:grid-cols-3">
    <div class="flex flex-col gap-y-5 md:col-span-2">
      <app-new-service-info-form />
      <app-new-service-address-form
        (onSelectCountry)="fetchStates($event)"
        [countries]="store.countries()"
        [states]="store.states()"
      />
    </div>
    <div class="flex flex-col gap-y-5 md:col-span-1">
      <app-new-service-gallery />
      <app-new-service-confirm-button />
    </div>
  </div>
</div>
