<article class="flex flex-col gap-y-2.5">
  <header class="flex items-start gap-x-3.5">
    <div class="size-12 rounded-full aspect-square bg-primary-500"></div>
    <div>
      <h4 class="text-base sm:text-lg text-gray-800 font-medium">
        {{ review().userName }}
      </h4>
      <p class="text-xs sm:text-sm text-gray-600">
        Published {{ review().createdAt | date }}
      </p>
    </div>
  </header>
  <p>{{ stars() }}</p>
  <p class="text-sm sm:text-base text-pretty">
    {{ review().comment }}
  </p>
</article>
