<article class="w-56 flex flex-col gap-y-4 cursor-pointer">
  <header>
    <img
      src="https://lh4.googleusercontent.com/proxy/EWm9FVpPqF7N5rcraSRF-UMDuwBzfkA2tYNH73WwfdaqqrhD7V-TQL22-XP7fOgbjSp4X836b8_TVTYw1JN7bSJuUHbgtMURdiA2n-lyFKYnnpRzFzCJ72kCEw"
      alt="provider photo"
      class="aspect-square object-cover rounded-full"
    />
  </header>
  <footer class="flex flex-col gap-1.5">
    <h4 class="text-center text-lg font-medium">Provider Name</h4>
    <h5 class="text-center text-base text-gray-500">Provider occupation</h5>
  </footer>
</article>
