<app-header />
<app-container>
  <app-section-container headline="Popular Services">
    <app-services-carousel />
  </app-section-container>
  <app-section-container headline="Top-Rated Providers">
    <div class="flex items-start gap-x-7 overflow-x-auto pb-5">
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
    </div>
  </app-section-container>
</app-container>
