<app-header />
<app-container>
  <section class="flex flex-col gap-y-6">
    <app-subtitle headline="Popular Services" />
    <app-services-carousel />
  </section>
  <section class="flex flex-col gap-y-6">
    <app-subtitle headline="Top-Rated Professionals" />
    <div class="flex items-start gap-x-7 overflow-x-auto pb-5">
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
      <app-provider-card />
    </div>
  </section>
</app-container>
