<aside
  class="fixed w-full min-h-[calc(100dvh_-_4rem)] z-50 duration-300"
  [ngClass]="{ 'opacity-0 invisible': !show()() }"
>
  <nav
    class="fixed top-16 left-0 bottom-0 h-full w-4/5 md:w-72 bg-gray-50 duration-200 z-50"
    [ngClass]="{ '-translate-x-full': !show()() }"
  >
    <ul>
      <li>
        Manager
        <ul>
          <li>Appointments</li>
          <li>Availabilities</li>
          <li>Services</li>
        </ul>
      </li>
      <li>
        Settings
        <ul>
          <li>Profile</li>
          <li>Security</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div
    class="fixed size-full bg-black/10 z-40"
    (click)="show().set(false)"
  ></div>
</aside>
