<aside
  class="fixed top-16 left-0 bottom-0 border-r border-gray-300 w-full md:w-56 min-h-[calc(100dvh_-_4rem)]"
>
  <button class="p-1.5 cursor-pointer" (click)="show.set(!show())">
    <svg menu-icon class="size-8"></svg>
  </button>
  <nav class="" [ngClass]="{ 'opacity-0 invisible': !show() }">
    <ul>
      <li>
        Manager
        <ul>
          <li>Appointments</li>
          <li>Availabilities</li>
          <li>Services</li>
        </ul>
      </li>
      <li>
        Settings
        <ul>
          <li>Profile</li>
          <li>Security</li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
