<main class="p-5 grid place-items-center w-full h-dvh">
  <form
    class="flex flex-col gap-4 w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <app-input
      name="email"
      label="Email"
      type="email"
      autocomplete="email"
      [control]="form.controls.email"
    />
    <app-input
      name="password"
      label="Password"
      type="password"
      [control]="form.controls.password"
    />
    <app-button type="submit" [loading]="loading">Log In</app-button>
    <div class="flex items-center w-full gap-2">
      <div class="h-px w-2/5 bg-primary-100"></div>
      <p
        class="w-1/5 font-semibold text-center text-sm sm:text-base md:text-lg"
      >
        or
      </p>
      <div class="h-px w-2/5 bg-primary-100"></div>
    </div>
    <a
      routerLink="../sign-up"
      class="text-center text-primary-700 hover:text-primary-600 font-semibold text-sm sm:text-base md:text-lg transition-colors w-fit mx-auto"
    >
      Create new account
    </a>
  </form>
</main>
