<main class="p-5 grid place-items-center w-full h-dvh">
  <form
    class="flex flex-col gap-y-5 w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="grid grid-cols-2 gap-5">
      <app-input
        label="Name"
        type="text"
        name="name"
        placeholder="Ex: John"
        [control]="form.controls.name"
        autocomplete="name"
      />
      <app-input
        label="Last Name"
        type="text"
        name="lastName"
        placeholder="Ex: Smith"
        [control]="form.controls.lastName"
        autocomplete="family-name"
      />
    </div>
    <app-input
      label="Email"
      type="email"
      name="email"
      placeholder="example@mail.com"
      autocomplete="email"
      [control]="form.controls.email"
    />
    <app-input
      label="Password"
      type="password"
      name="password"
      [control]="form.controls.password"
    />
    <app-input
      label="Confirm Password"
      type="password"
      name="confirmPassword"
      [control]="form.controls.repeatPassword"
    />
    <div class="my-2.5 flex items-center gap-x-5 justify-center">
      <label
        for="customer"
        class="flex items-center gap-x-1.5 text-sm sm:text-base tracking-tighter text-gray-800"
      >
        <input
          type="radio"
          id="customer"
          [formControl]="form.controls.role"
          value="CUSTOMER"
        />
        <span>Customer</span>
      </label>
      <label
        for="provider"
        class="flex items-center gap-x-1.5 text-sm sm:text-base tracking-tighter text-gray-800"
      >
        <input
          type="radio"
          id="provider"
          [formControl]="form.controls.role"
          value="PROVIDER"
        />
        <span>Provider</span>
      </label>
    </div>
    @if (form.controls.role.value === "PROVIDER") {
      <app-input
        label="Occupation"
        type="text"
        name="occupation"
        placeholder="e.g: Software Engineer"
        [control]="form.controls.occupation"
      />
      <app-text-area
        label="Biography"
        name="biography"
        placeholder="Write a description about yourself."
        [control]="form.controls.biography"
      />
    }
    <app-button type="submit" [loading]="loading">Create account</app-button>
    <app-redirect headline="Enter to account" route="../sign-in" />
  </form>
</main>
